
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

  
  <div marginwidth="0" marginheight="0" bgcolor="#ffffff" style="margin:0;padding:0">
  <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#ffffff" style="border-collapse:collapse;table-layout:fixed;margin:0 auto"><tr><td>
  
    <div style="display:none;color:transparent;height:0;width:0;line-height:0;overflow:hidden">
      Visually hidden preheader text.
    </div>
  
    <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="margin:auto">
      <tr>
        <td height="50" style="font-size:0;line-height:0"> </td>
      </tr>
      <tr>
        <td valign="middle" style="padding:20px 0;text-align:center">
          <img src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/images/logo.png" alt="alt text" height="56" width="277" border="0">
        </td>
  
    </tr></table>
  
      <table border="0" width="600" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
        <tr>
          <td style="padding:40px;font-family:EB Garamont sans-serif;font-size:16px;line-height:27px;color:#000000;text-align:center">
            Félicitations <strong>{{ Lastname }} {{ Firstname }}</strong>, vous êtes bien inscrit pour l’événement de JR au Louvre !
            <br>Voici votre code de confirmation {{ Confirmation }}<br></strong>
            <br><br>
            Venez nous rejoindre le <strong>{{ Shift }}</strong>, arrivée indispensable 30 minutes en amont.<br>
            Rendez-vous rue de l’Amiral de Coligny.
            <br>
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/images/map.png" alt="alt text" height="400" width="400" border="0" style="display:block">
          </td>
        </tr>
  
        <tr>
          <td style="border:0">
            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td style="padding:30px;font-family:EB Garamont sans-serif;font-size:16px;line-height:22px;color:#444444;text-align:center">
                  IMPORTANT !
                  <br><br>
                  Nous vous recommandons de prêter une attention particulière à la météo du jour afin de pouvoir vous vêtir en conséquence.
                  <br><br>
                  Une combinaison jetable vous sera remise à votre arrivée pour protéger vos vêtements ;
  
                  il est préférable de porter des vêtements plutôt près du corps et un manteau au dessus de sa taille pour être plus à l’aise dans la combinaison.
                  <br><br>
                  Nous tenons à vous préciser qu’il n’y a pas de vestiaire sur le site, par conséquent ne vous encombrez pas d’effet personel de valeur.
                  <br><br>
                  Le Musée du Louvre et le Studio de JR décline toute responsabilité <br>en cas de vol ou de perte.
                  <br><br>
                  Vous trouverez ci-joint le document de cession de droit à l’image <br>et les mentions légales.
                </td>
                <tr>
                  <td style="padding:40px;font-family:EB Garamont italic sans-serif;font-size:20px;line-height:27px;color:#000000;text-align:center;font-style:italic">
                    L’équipe de JR au Louvre
                  </td>
                </tr>
              </tr>
            </table>
          </td>
        </tr>
    </table>
    <tr>
      <td style="text-align: center;padding: 40px 0;font-family: sans-serif; font-size: 12px; line-height: 18px;color: #888888;">
        Si vous avez chang&eacute; d&rsquo;avis sur votre participation ou que vous avez un emp&ecirc;chement vous avez la possibilit&eacute; de vous&nbsp;<unsubscribe style="color: #444444; padding: 0;text-decoration: underline"><a href="https://jraulouvre.herokuapp.com/unregister?Id={{ Id }}&language={{ language }}">désinscrire</a></unsubscribe>.
        <br><br>
      </td>
    </tr>
  </td></tr></table>
  </div>
  
  </body></html>