<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="JR au Louvre" content="JR au Louvre">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>jr au louvre</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/styles/main.css">
</head>

<body>
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="container">
        <div class="frame">
            <header>
                <nav><a class="btn-link" href="index.html?language=fr">Version française</a></nav>
                <h1><a href="/index.html?language={{ language }}">JR au Louvre</a></h1>
            </header>
            <div class="content">
                <p>Come and participate in the creation of a monumental piece of art!</p>
                <p>On the occasion of the 30th anniversary of the Louvre Pyramid, JR is creating a collaborative piece of art on the scale of the Napoleon Court. Three years after having made the Pyramid disappear, the street artist is about to bring a new light to the famed monument by realizing a gigantic collage, thanks to you!</p>
                <button onclick="location.href='/register.html?language={{ language }}'" type="button">Register</button>
            </div>
        </div>
        <small>© JR - all rights reserved - 2019 | Contact: contact@jraulouvre.net</small>
    </div>
  <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/vendor.js"></script>
  <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/main.js"></script>
</body>

</html>
