<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="JR au Louvre" content="JR au Louvre">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>jr au louvre</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/styles/main.css">
</head>

<body>
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="container">
        <div class="frame">
            <header>
                <h1><a href="/index.html">JR au Louvre</a></h1>
                <nav></nav>
            </header>
            <div class="content">
                <p>This text should be in english.</p>
                <p></p>
                <button onclick="location.href='/register.html?language={{ language }}'" type="button">Register</button>
            </div>
        </div>
        <footer><small>© JR - tout droit reservé - 2019</small></footer>
    </div>
    <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/vendor.js"></script>
    <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/main.js"></script>
</body>

</html>