<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="JR au Louvre" content="JR au Louvre" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>jr au louvre</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/styles/main.css" />
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <div class="container">
      <div class="frame">
        <header>

          <h1><a href="/index.html?language={{ language }}">JR au Louvre</a></h1>
        </header>
        <h2>Inscription</h2>
        <div class="content" >
            {% if ErrorMessage %}
            <div class="error-message">{{ ErrorMessage }}</div>
            {% endif %}
          <p style="text-align: center;">
            Les inscriptions sont réparties en demi-journées. <br />
            Afin de satisfaire tout le monde, vous ne pouvez vous inscrire qu’à une seule session.
          </p>
          <form name="Register" action="" method="post" role="form"> 
              <fieldset>
                  <legend>Sessions disponibles</legend>
                      <select id="Shift" name="Shift" data-name="Shift" required="True">
                        {% for entry in shifts %}
                        <option value={{ entry['id'] }}>{{ entry['shiftnamefr'] }}</option>
                        {% endfor %}
                      </select>                
              </fieldset>         
              <fieldset>
                <legend>Informations personelles</legend>
              </label>
              <label>Adresse e-mail
                <input type="email" id="Email" name="Email" data-name="Email" placeholder="example@domain.com" maxlength="256"
                  required>
              </label>
              <label>Confirmation d'adresse e-mail
                <input type="email" id="EmailConfirmation" name="EmailConfirmation" data-name="EmailConfirmation"
                  placeholder="example@domain.com" maxlength="256" required>
              </label>
                <label>Prénom
                  <input type="text" id="Firstname" name="Firstname" data-name="Firstname" placeholder="Jean"
                    maxlength="256" required>
                </label>
                <label>Nom
                  <input type="text" id="Lastname" name="Lastname" data-name="Lastname" placeholder="Pignon"
                    maxlength="256" required>
                </label>
                <label>Date de naissance
                  <input type="date" id="Birthdate" name="Birthdate" data-name="Birthdate" placeholder="JJ/MM/AAAA"
                    maxlength="256" required>
              </fieldset>
            </fieldset>
            <p>
              <input type="checkbox" name="checkbox1" id="checkbox1" required> Je déclare être majeur et être en capacité physique de participer à l’atelier ci-dessus mentionné. 
Je suis informé(e) qu’il n’y a sur le site ni vestiaire ni lieu pour entreposer des effets personnels et dégage l’association de toute responsabilité en cas de perte ou de vol d’un objet m’appartenant.
            </p>
            <p>
              <br/>
              </p>
            <p></p>
              <fieldset>
                <legend>CESSION DE DROIT À L’IMAGE</legend>
            </p>
            <p>
              Je confirme être informé que l’atelier collage JR au Louvre est susceptible d’être filmé et / ou photographié et cède en conséquence, à titre gratuit et pour la durée légale de protection de toute œuvre éligible au droit d’auteur utilisant mon image, pour toute reproduction partielle ou totale, quel que soit le procédé de reproduction ou de diffusion de l’événement JR au Louvre auquel je participe dans les termes suivants :
            </p>
  
            <p>
              J’autorise l’Amicale des Colleurs d’Affiches ou toute personne physique ou morale qu’elle souhaiterait se voir substituée, à enregistrer, fixer, utiliser et exploiter mon image et ma voix, par reproduction et/ou représentation de celle-ci, dans le cadre de la production, la commercialisation, et la promotion des œuvres d’art de l’artiste JR sur tout support et notamment par le biais :
            </p>
            <ul>
              <li>
                de la production et de la commercialisation d’œuvres d’art,
              </li>
              <li>
                de l’édition et de la commercialisation de lithographies,
              </li>
              <li>
                de l’édition et de la commercialisation d’ouvrages relatifs au travail artistique de JR,
              </li>
              <li>
                sur les sites Internet relatifs au travail artistique de JR,
              </li>
              <li>
                de la réalisation de toute vidéo ou œuvre audiovisuelle relative au travail artistique de JR (telle que la réalisation de reportage d’information destiné à la télévision),
              </li>
              <li>
                et plus généralement pour toute communication au public par voie de presse, catalogues, carton d’invitation, affiche… relative au travail artistique de JR, et ce à l'exclusion expresse des exploitations suivantes : contexte érotique ou pornographique, publicités.
              </li>
            </ul>
            <p>
              <em>
                <input type="checkbox" name="checkbox2" id="checkbox2" required> J’ai compris et je suis d’accord pour la cession de droit à l’image.
              </em>
            </p>
            </fieldset>
            <p>
                <br/>
                </p>
            <fieldset>
              <legend>POLITIQUE DE CONFIDENTIALITE </legend>
              <p>
                Je suis informé(e) que mes données personnelles sont utilisées par l’Association L’Amicale des Colleurs d’Affiches afin d’organiser l’événement et l’atelier Collage JR au Louvre
              </p>
              <p>
                Je suis informé(e) que mes données pourront être transmises, uniquement à la personne physique ou morale susceptible de reproduire l’événement dans les conditions ci-dessus mentionnées.
              </p>
              <p>
                Je suis informé(e) que le délai de conservation de mes données sera le même que celui de la cession stipulée au-dessus pour les besoins de justification de cette cession.
              </p>
              <p>
                Je suis informé(e) que les données sont collectées par Unframed et l’Amicale des Colleurs d’Affiches exclusivement pour les objectifs définis aux présentes. L’hébergeur étant destinataire des données. 
              </p>
              <p>
                J’ai la possibilité à tout moment de solliciter que mes données soient retirées des fichiers de l’Association en m’adressant à contact@jraulouvre.net et en justifiant mon identité. 
              </p>
              <p>
                <input type="checkbox" name="checkbox3" id="checkbox3" required> J’ai compris et je suis d’accord avec la politique de confidentialité 
              </p>
              <em>L’Amicale des Colleurs d’Affiches Association Loi 1901 RNA W751201708, 41 rue sedaine 75011 PARIS</em>
            </fieldset>
              <input type="submit" value="S'enregistrer" data-wait="Please wait...">
          </form>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer>
        <small>© JR -  tous droits réservés  - 2019</small>
      </footer>
    </div>
    <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/messages_fr.js"></script>   
    <script src="https://cloud-cube-eu.s3.amazonaws.com/g1amm2hsdl19/public/static/scripts/main.js"></script>
  </body>
</html>
